# PR Matematika Diskrit

Nama : Wayan Raditya Putra
NRP : 5054241029
Prodi : RKA

1. Buatlah tabel kebenaran secara rinci dan baik untuk proposisi di bawah ini!
Exercise 1.1 No.37 <br>
a) p → (¬q ∨ r) <br>
b) ¬p → (q → r) <br>
c) (p → q) ∨ (¬p → r) <br>
d) (p → q) ∧ (¬p → r) <br>
e) (p ↔ q) ∨ (¬q ↔ r) <br>
f) (¬p ↔ ¬q) ↔ (q ↔ r)

# No 1 a

In [1]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not q
            prop2 = not q or r
            prop3 = prop2 if p else True #jika p benar maka prop 3 nilainya sama dengan prop2, kalau p salah prop3 pasti bernilai bemar
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~Q':[prop1],
                                    '~Q V R': [prop2],
                                    'P ==> (~Q V R)' : [prop3]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R     ~Q  ~Q V R  P ==> (~Q V R)
0   True   True   True  False    True            True
1   True   True  False  False   False           False
2   True  False   True   True    True            True
3   True  False  False   True    True            True
4  False   True   True  False    True            True
5  False   True  False  False   False            True
6  False  False   True   True    True            True
7  False  False  False   True    True            True

# No 1 b

In [7]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = not q or r
            prop3 = not prop1 or prop2
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~P':[prop1],
                                    'Q ==> R': [prop2],
                                    '~P ==> (Q ==> R)' : [prop3]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R     ~P  Q ==> R  ~P ==> (Q ==> R)
0   True   True   True  False     True              True
1   True   True  False  False    False              True
2   True  False   True  False     True              True
3   True  False  False  False     True              True
4  False   True   True   True     True              True
5  False   True  False   True    False             False
6  False  False   True   True     True              True
7  False  False  False   True     True              True

# No 1 c

In [8]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = not p or q 
            prop3 = p or r
            prop4 = prop2 or prop3
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~P':[prop1],
                                    'P ==> Q': [prop2],
                                    '~P ==> R' : [prop3],
                                    "(P ==> Q) V (~P ==> R)" : [prop4]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R     ~P  P ==> Q  ~P ==> R  (P ==> Q) V (~P ==> R)
0   True   True   True  False     True      True                    True
1   True   True  False  False     True      True                    True
2   True  False   True  False    False      True                    True
3   True  False  False  False    False      True                    True
4  False   True   True   True     True      True                    True
5  False   True  False   True     True     False                    True
6  False  False   True   True     True      True                    True
7  False  False  False   True     True     False                    True

# No 1 d

In [6]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = not p or q 
            prop3 = p or r
            prop4 = prop2 and prop3
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~P':[prop1],
                                    'P ==> Q': [prop2],
                                    '~P ==> R' : [prop3],
                                    "(P ==> Q) ∧ (~P ==> R)" : [prop4]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R     ~P  P ==> Q  ~P ==> R  (P ==> Q) ∧ (~P ==> R)
0   True   True   True  False     True      True                    True
1   True   True  False  False     True      True                    True
2   True  False   True  False    False      True                   False
3   True  False  False  False    False      True                   False
4  False   True   True   True     True      True                    True
5  False   True  False   True     True     False                   False
6  False  False   True   True     True      True                    True
7  False  False  False   True     True     False                   False

# No 1 e

In [5]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not q
            prop2 = bool(p == q) 
            prop3 = bool(prop1 == r)
            prop4 = prop2 or prop3
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~Q':[prop1],
                                    'P <==> Q': [prop2],
                                    '~Q <==> R' : [prop3],
                                    "(P <==> Q) V (~Q <==> R)" : [prop4]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R     ~Q  P <==> Q  ~Q <==> R  (P <==> Q) V (~Q <==> R)
0   True   True   True  False      True      False                      True
1   True   True  False  False      True       True                      True
2   True  False   True   True     False       True                      True
3   True  False  False   True     False      False                     False
4  False   True   True  False     False      False                     False
5  False   True  False  False     False       True                      True
6  False  False   True   True      True       True                      True
7  False  False  False   True      True      False                      True

# No 1 f

In [1]:
import pandas as pd

dfs = []
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = not p
            prop2 = not q
            prop3 = bool(prop1 == prop2)
            prop4 = bool(q == r)
            prop5 = bool(prop3 == prop4)
            dfs.append(pd.DataFrame({'P': [p],
                                    'Q': [q],
                                    'R' : [r],
                                    '~P':[prop1],
                                    '~Q':[prop2],
                                    '~P <==> ~Q': [prop3],
                                    'Q <==> R' : [prop4],
                                    "(~P <==> ~Q) <==> (Q <==> R)" : [prop5]
                                    }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

,P,Q,R,~P,~Q,~P <==> ~Q,Q <==> R,(~P <==> ~Q) <==> (Q <==> R)
0,True,True,True,False,False,True,True,True
1,True,True,False,False,False,True,False,False
2,True,False,True,False,True,False,False,True
3,True,False,False,False,True,False,True,False
4,False,True,True,True,False,False,True,False
5,False,True,False,True,False,False,False,True
6,False,False,True,True,True,True,False,False
7,False,False,False,True,True,True,True,True

# No 2 (Mengecek Tautologi)

Show that each of these conditional statements is a tautology by using truth tables.
a) [¬p ∧ (p ∨ q)] → q
b) [(p → q) ∧ (q → r)] → (p → r)
c) [p ∧ (p → q)] → q
d) [(p ∨ q) ∧ (p → r) ∧ (q → r)] → r

In [12]:
import pandas as pd

dfs = []

for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            # ~p
            prop1 = not p                      
            # ~q
            prop2 = not q                      
            # ~r
            prop3 = not r                      
            # p ∨ q
            prop4 = p or q                     
            # p → q
            prop5 = q if p else True           
            # p → r
            prop6 = r if p else True           
            # q → r
            prop7 = r if q else True           
            # ~p ∧ (p ∨ q)
            prop8 = not p and prop4            
            # (p → q) ∧ (q → r)
            prop9 = prop5 and prop7            
            # p ∧ (p → q)
            prop10 = p and prop5               
            # (p ∨ q) ∧ (p → r) ∧ (q → r)
            prop11 = prop4 and prop6 and prop7 
            # [~p ∧ (p ∨ q)] → q
            prop12 = q if prop8 else True
            # [(p → q) ∧ (q → r)] → (p → r)
            prop13 = prop6 if prop9 else True
            # [p ∧ (p → q)] → q
            prop14 = q if prop10 else True
            # [(p ∨ q) ∧ (p → r) ∧ (q → r)] → r
            prop15 = r if prop11 else True
        
            dfs.append(pd.DataFrame({
                'P': [p],
                'Q': [q],
                '-P': [prop1],
                '-Q': [prop2],
                '-R': [prop3],
                'p ∨ q': [prop4],
                'p → q': [prop5],
                'p → r': [prop6],
                'q → r': [prop7],
                '~p ∧ (p ∨ q)': [prop8],
                '(p → q) ∧ (q → r)': [prop9],
                'p ∧ (p → q)': [prop10],
                '(p ∨ q) ∧ (p → r) ∧ (q → r)': [prop11],
                '[~p ∧ (p ∨ q)] → q': [prop12],
                '[(p → q) ∧ (q → r)] → (p → r)': [prop13],
                '[p ∧ (p → q)] → q': [prop14],
                '[(p ∨ q) ∧ (p → r) ∧ (q → r)] → r': [prop15],
            }))

tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

,P,Q,-P,-Q,-R,p ∨ q,p → q,p → r,q → r,~p ∧ (p ∨ q),(p → q) ∧ (q → r),p ∧ (p → q),(p ∨ q) ∧ (p → r) ∧ (q → r),[~p ∧ (p ∨ q)] → q,[(p → q) ∧ (q → r)] → (p → r),[p ∧ (p → q)] → q,[(p ∨ q) ∧ (p → r) ∧ (q → r)] → r
0,True,True,False,False,False,True,True,True,True,False,True,True,True,True,True,True,True
1,True,True,False,False,True,True,True,False,False,False,False,True,False,True,True,True,True
2,True,False,False,True,False,True,False,True,True,False,False,False,True,True,True,True,True
3,True,False,False,True,True,True,False,False,True,False,False,False,False,True,True,True,True
4,False,True,True,False,False,True,True,True,True,True,True,False,True,True,True,True,True
5,False,True,True,False,True,True,True,True,False,True,False,False,False,True,True,True,True
6,False,False,True,True,False,False,True,True,True,False,True,False,False,True,True,True,True
7,False,False,True,True,True,False,True,True,True,False,True,False,False,True,True,True,True

# No 3 (Menunjukan bahwa dua proposisi tidak saling ekivalensi)

Show that (p ∧ q) → r and (p → r) ∧ (q → r) are not logically equivalent.

In [14]:
import pandas as pd
dfs = []
ekivalen = True
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            prop1 = p and q
            prop2 = r if p else True
            prop3 = r if q else True
            prop4 = r if prop1 else True
            prop5 = prop2 and prop3

            #Masukkan nilai-nilainya ke data frame pandas
            dfs.append(pd.DataFrame({'P': [p],
                                     'Q': [q],
                                     'R': [r],
                                     'p ∧ q': [prop1],
                                     'p → r': [prop2],
                                     'q → r': [prop3],
                                     '(p ∧ q) → r': [prop4],
                                     '(p → r) ∧ (q → r)': [prop5]

                                    }))
tb_soal = pd.concat(dfs, ignore_index=True)
tb_soal

       P      Q      R  p ∧ q  p → r  q → r  (p ∧ q) → r  (p → r) ∧ (q → r)
0   True   True   True   True   True   True         True               True
1   True   True  False   True  False  False        False              False
2   True  False   True  False   True   True         True               True
3   True  False  False  False  False   True         True              False
4  False   True   True  False   True   True         True               True
5  False   True  False  False   True  False         True              False
6  False  False   True  False   True   True         True               True
7  False  False  False  False   True   True         True               True

# No 4 (Mengecek Siapa Yang Bohong Gaes)

Seorang detektif sedang menangani sebuah kasus kriminal. Ada 4 orang tersangka berinisial G, O, L, D. Dari hasil interogasi, detektif tersebut mendapatkan sejumlah fakta, yaitu :
Jika G berkata jujur, maka O berkata jujur.
Jika L berkata bohong, maka D berkata jujur.
Salah satu dari O dan L berkata jujur.
O berkata jujur jika dan hanya jika D berkata bohong. Dari sejumlah fakta di atas, siapa yang berkata jujur? buatlah pembuktiannya dengan tabel kebenaran!

In [35]:
import pandas as pd
dfs = []
for g in [True, False]:
    for o in [True, False]:
        for l in [True, False]:
            for d in [True, False]:
                prop1 = not g
                prop2 = not o
                prop3 = not l
                prop4 = not d
                

                #prop kesaksian dari 4 tersangka
                prop5 = o if g else True
                prop6 = d if not l else True
                prop7 = bool(o != l)
                prop8 = bool(prop4 == o)
                dfs.append(pd.DataFrame({'G': [g],
                                         'O': [o],
                                         'L': [l],
                                         'D': [d],
                                         '-G': [prop1],
                                         '-O': [prop2],
                                         '-L': [prop3],
                                         '-D': [prop4],
                                         'G → O': [prop5],
                                         '-L → D': [prop6],
                                         'O xor L': [prop7],
                                         '-D ↔ O': [prop8],
                                        }))
tb_soal = pd.concat(dfs, ignore_index=True)

In [36]:
#Jika G Jujur
tb_soal[tb_soal["G"] == True]

,G,O,L,D,-G,-O,-L,-D,G → O,-L → D,O xor L,-D ↔ O
0,True,True,True,True,False,False,False,False,True,True,False,False
1,True,True,True,False,False,False,False,True,True,True,False,True
2,True,True,False,True,False,False,True,False,True,True,True,False
3,True,True,False,False,False,False,True,True,True,False,True,True
4,True,False,True,True,False,True,False,False,False,True,True,True
5,True,False,True,False,False,True,False,True,False,True,True,False
6,True,False,False,True,False,True,True,False,False,True,False,True
7,True,False,False,False,False,True,True,True,False,False,False,False

In [37]:
#Jika O Jujur
tb_soal[tb_soal["O"] == True]

,G,O,L,D,-G,-O,-L,-D,G → O,-L → D,O xor L,-D ↔ O
0,True,True,True,True,False,False,False,False,True,True,False,False
1,True,True,True,False,False,False,False,True,True,True,False,True
2,True,True,False,True,False,False,True,False,True,True,True,False
3,True,True,False,False,False,False,True,True,True,False,True,True
8,False,True,True,True,True,False,False,False,True,True,False,False
9,False,True,True,False,True,False,False,True,True,True,False,True
10,False,True,False,True,True,False,True,False,True,True,True,False
11,False,True,False,False,True,False,True,True,True,False,True,True

In [38]:
#Jika L jujur
tb_soal[tb_soal["L"] == True]

,G,O,L,D,-G,-O,-L,-D,G → O,-L → D,O xor L,-D ↔ O
0,True,True,True,True,False,False,False,False,True,True,False,False
1,True,True,True,False,False,False,False,True,True,True,False,True
4,True,False,True,True,False,True,False,False,False,True,True,True
5,True,False,True,False,False,True,False,True,False,True,True,False
8,False,True,True,True,True,False,False,False,True,True,False,False
9,False,True,True,False,True,False,False,True,True,True,False,True
12,False,False,True,True,True,True,False,False,True,True,True,True
13,False,False,True,False,True,True,False,True,True,True,True,False

In [39]:
#Jika D jujur
tb_soal[tb_soal["D"] == True]

,G,O,L,D,-G,-O,-L,-D,G → O,-L → D,O xor L,-D ↔ O
0,True,True,True,True,False,False,False,False,True,True,False,False
2,True,True,False,True,False,False,True,False,True,True,True,False
4,True,False,True,True,False,True,False,False,False,True,True,True
6,True,False,False,True,False,True,True,False,False,True,False,True
8,False,True,True,True,True,False,False,False,True,True,False,False
10,False,True,False,True,True,False,True,False,True,True,True,False
12,False,False,True,True,True,True,False,False,True,True,True,True
14,False,False,False,True,True,True,True,False,True,True,False,True

Disimpulkan bahwa yang pasti berbohong adalah G dan O